:root{
    --background: #fff;
    --color-text: #000;
    --color-text-icon: #2c3a68;
    --color-text-filter-buttons: rgba(0, 0, 0, .5);
    --color-text-filter-button-active: #000;
    --color-text-task: #000;
    --color-action-buttons: #000;
    --input-background: #ebecef;
    --orange-buttons: #f3573f;
    --gray-checked-tasks: #908e8e;
}

.dark {
    --background: #1e293b;
    --color-text: #fff;
    --color-text-icon: #fff;
    --color-text-filter-buttons: #637084;
    --color-text-filter-button-active: #5f6ab8;
    --color-text-task: #7c8998;
    --color-action-buttons: #78879b;
    --input-background: #334054;
}

/*----START-----STYLES FOR MAIN COMPONENT (TO DO)------START-------*/
.todo-container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    width: 600px; height: auto; max-height: 650px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon{
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-text-icon);
}

.toggleTheme-btn{
    display: inline-flex;
    background-color: transparent;
    color: var(--color-action-buttons);
}

.toggleTheme-btn:hover{
    cursor: pointer;
    color: var(--orange-buttons);
}

.input-task-container{
    position: relative;
}

#input-task{
    background-color: var(--input-background);
    color: var(--color-text);
    font-size: 1.2rem;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border-radius: 50px;
    width: 100%;
}

#addTask-btn{
    position: absolute;
    right: 0;
    bottom: 16px;
    background-color: var(--orange-buttons);
    color: #fff;
    font-size: 1.2rem;
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 50px;
}

#addTask-btn:hover{
    cursor: pointer;
}

.todo-tasks-content{
    width: 100%;
    min-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    margin-bottom: .5rem;
}
/*----END-----STYLES FOR MAIN COMPONENT (TO DO)------END---*/

/*----START----STYLES FOR TASK COMPONENT-----START-------*/
.task-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .8rem 0;
    margin-bottom: 1rem;
}

.checkTask-btn-false::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 50%;
    background-image: url('../../assets/icons/unchecked.png');
    background-size: cover;
    background-position: center;
    left: 8px;
}

.checkTask-btn-active::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 50%;
    background-image: url('../../assets/icons/checked.png');
    background-size: cover;
    background-position: center;
    left: 8px;
}

.checkTask-btn-false:hover{
    cursor: pointer;
}

.checkTask-btn-active:hover{
    cursor: pointer;
}

.descriptionTask-active{
    font-size: 1.2rem;
    padding-left: 3rem;
    text-decoration: line-through;
    color: var(--gray-checked-tasks);
}   

.descriptionTask-false{
    color: var(--color-text-task);
    font-size: 1.2rem;
    padding-left: 3rem;
}   

.deleteTask-btn{
    margin-left: auto;
    background-color: var(--background);
    color: var(--color-action-buttons);
}

.deleteTask-btn:hover{
    cursor: pointer;
    color: var(--orange-buttons);
}
/*----END----STYLES FOR TASK COMPONENT-----END-------*/

/*----START----STYLES FOR MODAL MESSAGE----START----*/
.modalOverlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.modalContent{
    height: fit-content;
    background-color: var(--background);
    padding: 2rem; margin: 8rem;
    border-radius: 15px;
    box-shadow: .1rem .1rem .1rem .1rem rgba(0, 0, 0, .5);
}

.modalContent p{
    font-size: 1.5rem;
    color: var(--color-text);
}
/*----END----STYLES FOR MODAL MESSAGE----END----*/

/*----START----STYLE FOR FILTERABLE BUTTONS----START----*/
.filterButtons-section{
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem 0;
    color: var(--color-text-filter-buttons);
    border-top: 1px solid #000;
}


.filterButtons{
    font-size: 1rem;
    background-color: transparent;
    color: var(--color-text-filter-buttons);
}

.filterButtons:hover{
    cursor: pointer;
    color: var(--color-text-filter-button-active);
}

.allFilter{
    margin: 0 .8rem;
}

.active{
    font-weight: bold;
    color: var(--color-text-filter-button-active);
}
/*----END----STYLE FOR FILTERABLE BUTTONS----END----*/

/*----START-----GENERAL RESPONSIVE DESIGN------START-----*/
@media(max-width: 768px){
    .todo-container{
        width: 80vw;
        height: auto;
        max-height: 600px;
    }

    .modalContent p{
        font-size: 1rem;
    }

    .filterButtons-container{
        position: absolute;
        bottom: -60px;
        width: 100%;
        padding: .8rem 0;
        text-align: center;
        background-color: var(--background);
        border-radius: 10px;    
    }

    .filterButtons-container .filterButtons{
        margin: 0 auto;
    }

    .allFilter{
        padding: 0 2rem;
    }
}

@media(max-width: 550px){
    .icon{
        font-size: 1.5rem;
    }

    #input-task, #addTask-btn{
        padding: .8rem 1rem;    
        font-size: 1rem;
    }

    .descriptionTask-active, .descriptionTask-false{
        font-size: 1rem;
    }

    .modalContent{
        padding: 1rem;
        margin: 7rem .8rem 0 .8rem;
    }
}
/*----END-----GENERAL RESPONSIVE DESIGN------END-----*/